.home-body {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  padding-top: 60px;
  position: relative;
}

.home-left-section {
  display: grid;
  grid-template-columns: 14% 1fr 14%;
}

.fa-home {
  font-size: 17px;
  padding: 10px 12px;
}

.websites-links {
  display: flex;
  width: 90px;
  margin-top: 50px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.linkedin-link,
.github-link {
  border: 1px solid #4ceaff;
  border-radius: 50%;
}

.dload-resume {
  background-color: #4ceaff;
  border: none;
  padding: 9px 13px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px #4ceaff;
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

.home-right-section {
  display: grid;
  grid-template-columns: 19% 1fr 19%;
}

.home-right-section-right-space {
  /* background-color: lightpink; */
  min-width: 120px;
}

.home-right-section-left-space {
  /* background-color: lightpink; */
}

.home-left-section-left-space {
  /* background-color: lightblue; */
}

.home-left-section-right-space {
  /* background-color: lightblue; */
}

.home-right-section-content {
  background: #4ceaff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 15px 10px #4ceaff;
  border: none;
  margin-right: 0;
  margin-top: 15px;
}

.home-right-section img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}


@media (min-width:750px) and (max-width: 1000px) {
  .home-right-section-content {
    width: 200px;
    height: 200px;
  }
}

@media (min-width:711px) and (max-width:805px) {
  .home-right-section-content {
    width: 150px;
    height: 150px;
  }

  .home-left-section {
    grid-template-columns: 14% 1fr 1%;
  }

  .home-right-section {
    grid-template-columns: 1% 1fr 19%;
  }
}


@media (min-width:660px) and (max-width:710px) {

  .home-right-section-content {
    width: 150px;
    height: 150px;
  }

  .home-left-section {
    position: absolute;
    left: 30px;
    display: inline-block;
  }

  .home-right-section {
    display: inline-block;
    position: absolute;
    right: 30px;
  }

  .my-aspirant-text {
    width: 200px;
  }

  .my-name {
    font-size: 35px;
  }

  .websites-links {
    padding-top: 85px;
  }
}

@media (max-width: 659px){
  .home-body {
    padding-top: 30px;
  }
}

@media (min-width:620px) and (max-width: 659px) {
  .home-left-section {
    display: inline-block;
    position: absolute;
    left: 30px;
  }

  .home-right-section {
    display: inline-block;
    position: absolute;
    right: 30px;
  }

  .my-aspirant-text {
    width: 200px;
  }

  .my-intro {
    padding-top: 20px;
  }

  .home-right-section-content {
    width: 150px;
    height: 150px;
  }

  .websites-links {
    padding-top: 100px;
  }
}

@media (min-width:612px) and (max-width:619px) {
  .home-left-section {
    display: inline-block;
    position: absolute;
    left: 50px;
    right: 50px;
  }

  .my-aspirant-text {
    padding-top: 30px;
  }

  .home-right-section {
    display: inline-block;
    position: absolute;
    right: 50px;
  }

  .home-right-section-content {
    width: 100px;
    height: 100px;
  }

  .websites-links {
    padding-top: 100px;
  }
}

@media (min-width:580px) and (max-width:611px) {
  .home-left-section {
    display: inline-block;
    position: absolute;
    left: 50px;
    right: 50px;
  }

  .my-name {
    font-size: 40px;
    width: 1px;
  }

  .my-aspirant-text {
    padding-top: 30px;
  }

  .home-right-section {
    display: inline-block;
    position: absolute;
    right: 50px;
  }

  .home-right-section-content {
    width: 150px;
    height: 150px;
  }

}

@media (max-width:579px) {
  .home-left-section {
    display: inline-block;
    position: absolute;
    left: 50px;
    right: 50px;
  }

  .my-name {
    font-size: 40px;
    width: 1px;
  }

  .my-aspirant-text {
    padding-top: 30px;
  }

  .home-right-section {
    display: inline-block;
    position: absolute;
    right: 40px;
  }

  .home-right-section-content {
    width: 120px;
    height: 120px;
  }

}