.container {
  background: linear-gradient(black, #4ceaff);
  align-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  overflow: hidden;
}

.sub-container {
  flex: 1;
  max-width: 1200px;
  min-width: 350px;
  height: 700px;
  background-color: rgb(43, 42, 54);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 1);
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
  color: white;
}

.footer {
  position: sticky;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.description {
  color: rgb(173, 173, 173);
  font-size: 15px;
  line-height: 20px;
}

.highlight {
  color: #4ceaff;
  font-weight: bold;
}

.fa-brands,
.fa-solid {
  color: #4ceaff;
}
